body {
  padding: 1em;
  background-color: #9f9f9f;
  font-family: Arial, sans-serif;
  background-image: url(pizza.jpg);
}

fieldset {
  border: 1px solid lightgray;
  legend {
    color: #ffffff;
    font-weight: bold;
  }
}

.select-city {
  margin: 1em 0;
  background-color: rgba(255, 38, 33, 0.97);
  .franchises {
    display: flex;
    li {
      flex: 0.33;
      .franchise {
        padding: 1em;
        cursor: pointer;
        &:hover {
          background-color: pink;
        }
        &.selected {
          border: 1px solid darkblue;
        }
      }
    }
  }
}

.select-specialty-pizza {
  margin: 1em 0;
  background-color: rgba(255, 38, 33, 0.97);
  .pizza-specialties {
    display: flex;
    li {
      flex: 0.33;
      .pizza-specialty {
        padding: 1em;
        cursor: pointer;
        &:hover {
          background-color: cornflowerblue;
        }
        &.selected {
          border: 1px solid darkcyan;
        }
      }
    }
  }
}

.select-toppings {
  margin: 1em 0;
  background-color: rgba(255, 38, 33, 0.97);
  .topping {
    padding: 1em;
    display: block;
    &.optional {
      cursor: pointer;
      &:hover {
        background-color: aqua;
      }
    }
  }
}